In [17]:
import pandas as pd
import numpy as np
from covid import utils

config = utils.create_named_tuple(paths.config)
age_labels = utils.generate_labels_from_bins(config.age_bins)
population = pd.read_csv('data/temp_pop.csv')

In [18]:
population

,region_id,region,0-6,7-15,16-20,21-40,41-66,67+,population
0,301,OSLO,55837,64036,33296,257985,207877,77749,696780
1,1101,EIGERSUND,1132,1719,955,3642,4898,2439,14785
2,1103,STAVANGER,11735,16218,8511,41917,47283,18451,144115
3,1106,HAUGESUND,2636,3996,2314,9836,12823,5707,37312
4,1108,SANDNES,7589,10110,5042,22845,25653,9206,80445
...,...,...,...,...,...,...,...,...,...
351,5440,BERLEVÅG,47,61,46,219,341,214,928
352,5441,TANA,166,232,154,624,1052,600,2828
353,5442,NESSEBY,33,86,40,197,295,229,880
354,5443,BÅTSFJORD,150,197,124,622,761,346,2200
355,5444,SØR-VARANGER,639,967,627,2707,3499,1662,10101

In [51]:
df = pd.read_csv('data/Sysselsatte.csv')
df['age_low'] = df.alder.apply(lambda x: str(x).split("-")[0]).astype(int)
df['age_high'] = df.alder.apply(lambda x: str(x).split("-")[1][:2]).astype(int)
df.drop(columns=["alder"], inplace=True)
df.rename({"Sysselsatte personer": "employed"}, axis=1, inplace=True)

In [82]:
percent_commuters = 0.36
bins = config.age_bins
df = pd.read_csv('data/employed_per_age.csv')
df.age = pd.cut(df['age'], bins=bins+[110], labels=age_labels, include_lowest=True)
commuters = df.groupby('age').sum()['employed'].to_numpy() * percent_commuters
sum_age_groups = population[population.columns[2:-1]].sum().to_numpy()
age_group_commuter_percent = commuters/sum_age_groups
age_group_flow_scaling = age_group_commuter_percent/age_group_commuter_percent.sum()

In [95]:
age_labels

['0-6', '7-15', '16-20', '21-40', '41-66', '67+']