In [2]:
import pandas as pd
import numpy as np
from covid import utils

paths = utils.create_named_tuple('filepaths.txt')
config = utils.create_named_tuple(paths.config)
labels = utils.generate_labels_from_bins(config.age_bins)
bins = config.age_bins
population = pd.read_csv('data/temp_pop.csv')

In [2]:
population

,region_id,region,0-6,7-15,16-20,21-40,41-66,67+,population
0,301,OSLO,55837,64036,33296,257985,207877,77749,696780
1,1101,EIGERSUND,1132,1719,955,3642,4898,2439,14785
2,1103,STAVANGER,11735,16218,8511,41917,47283,18451,144115
3,1106,HAUGESUND,2636,3996,2314,9836,12823,5707,37312
4,1108,SANDNES,7589,10110,5042,22845,25653,9206,80445
...,...,...,...,...,...,...,...,...,...
351,5440,BERLEVÅG,47,61,46,219,341,214,928
352,5441,TANA,166,232,154,624,1052,600,2828
353,5442,NESSEBY,33,86,40,197,295,229,880
354,5443,BÅTSFJORD,150,197,124,622,761,346,2200
355,5444,SØR-VARANGER,639,967,627,2707,3499,1662,10101

In [16]:
df = pd.read_csv('data/contact_data.csv')
df.contact_age_0 = pd.cut(df['contact_age_0'], bins=bins+[110], labels=labels, include_lowest=True)
df.contact_age_1 = pd.cut(df['contact_age_1'], bins=bins+[110], labels=labels, include_lowest=True)
df_mat = pd.DataFrame(df[df.columns[:-2]].groupby(['contact_age_0', 'contact_age_1']).mean()).reset_index()
df_mat['total'] = (df_mat.home + df_mat.work + df_mat.school + df_mat.transport + df_mat.leisure)/5
N = population[population.columns[2:-1]].sum().to_numpy()
matrices = []
# for col in ['home', 'work', 'school', 'transport', 'leisure']:
#     matrix = pd.pivot_table(df_mat, values=col, index='contact_age_0', columns='contact_age_1').to_numpy()
#     symmetric_matrix = np.zeros((matrix.shape))
#     for i in range(len(N)):
#         for j in range(len(N)):
#             symmetric_matrix[i][j] = 1/(N[i]+N[j]) * (matrix[i][j] * N[i] + matrix[j][i] * N[j])
#     matrices.append(symmetric_matrix)

In [17]:
df_mat

,contact_age_0,contact_age_1,home,work,school,transport,leisure,total
0,0-6,0-6,0.177576,0.000626,0.618854,0.045099,0.247416,0.217914
1,0-6,7-15,0.498718,0.001282,0.189744,0.079487,0.348718,0.223590
2,0-6,16-20,0.366667,0.206667,0.093333,0.026667,0.353333,0.209333
3,0-6,21-40,0.574581,0.146880,0.111872,0.078387,0.255708,0.233486
4,0-6,41-66,0.430010,0.131923,0.277946,0.040282,0.228600,0.221752
5,0-6,67+,0.705128,0.012821,0.000000,0.012821,0.346154,0.215385
6,7-15,0-6,0.451693,0.001652,0.216350,0.067713,0.374897,0.222461
7,7-15,7-15,0.108252,0.002700,0.686129,0.066909,0.247638,0.222325
8,7-15,16-20,0.320812,0.021320,0.298477,0.094416,0.363452,0.219695
9,7-15,21-40,0.468691,0.194813,0.149905,0.059456,0.263757,0.227324
10,7-15,41-66,0.457671,0.190867,0.218061,0.064649,0.223704,0.230990
11,7-15,67+,0.683099,0.014085,0.049296,0.014085,0.316901,0.215493
12,16-20,0-6,0.566116,0.000000,0.099174,0.086777,0.330579,0.216529
13,16-20,7-15,0.267831,0.004367,0.356623,0.081514,0.385735,0.219214
14,16-20,16-20,0.082624,0.028233,0.577330,0.080340,0.333818,0.220469
15,16-20,21-40,0.233888,0.319334,0.086894,0.051412,0.385228,0.215351
16,16-20,41-66,0.391202,0.209971,0.188856,0.053959,0.229912,0.214780
17,16-20,67+,0.438095,0.057143,0.009524,0.019048,0.514286,0.207619
18,21-40,0-6,0.546086,0.004835,0.144455,0.075854,0.361439,0.226534
19,21-40,7-15,0.426729,0.004982,0.236811,0.068875,0.342321,0.215944
20,21-40,16-20,0.192960,0.114504,0.178541,0.067854,0.485157,0.207803
21,21-40,21-40,0.178066,0.366020,0.070029,0.047533,0.397859,0.211901
22,21-40,41-66,0.208934,0.372755,0.026047,0.040568,0.389936,0.207648
23,21-40,67+,0.351767,0.086022,0.007680,0.030722,0.569892,0.209217
24,41-66,0-6,0.438878,0.012024,0.124248,0.057114,0.455912,0.217635
25,41-66,7-15,0.474359,0.004579,0.228632,0.065934,0.302808,0.215263
26,41-66,16-20,0.479853,0.092098,0.171638,0.067504,0.248561,0.211931
27,41-66,21-40,0.213563,0.425640,0.029149,0.042534,0.328376,0.207852
28,41-66,41-66,0.234271,0.354858,0.024904,0.045876,0.387539,0.209490
29,41-66,67+,0.342061,0.044764,0.009291,0.036318,0.607264,0.207939
30,67+,0-6,0.453521,0.002817,0.025352,0.033803,0.546479,0.212394
31,67+,7-15,0.495868,0.004132,0.020661,0.057851,0.462810,0.208264
32,67+,16-20,0.401130,0.141243,0.011299,0.033898,0.451977,0.207910
33,67+,21-40,0.311688,0.259740,0.015348,0.028335,0.410862,0.205195
34,67+,41-66,0.293214,0.187221,0.007429,0.037642,0.513125,0.207727
35,67+,67+,0.404762,0.021008,0.007003,0.026611,0.588235,0.209524

In [18]:
matrix = pd.pivot_table(df_mat, values='total', index='contact_age_0', columns='contact_age_1')
print(matrix)

contact_age_1       0-6      7-15     16-20     21-40     41-66       67+
contact_age_0
0-6            0.217914  0.223590  0.209333  0.233486  0.221752  0.215385
7-15           0.222461  0.222325  0.219695  0.227324  0.230990  0.215493
16-20          0.216529  0.219214  0.220469  0.215351  0.214780  0.207619
21-40          0.226534  0.215944  0.207803  0.211901  0.207648  0.209217
41-66          0.217635  0.215263  0.211931  0.207852  0.209490  0.207939
67+            0.212394  0.208264  0.207910  0.205195  0.207727  0.209524